.slider {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 20px red;
    border-radius: 2px;
    width: 500px;
    height: 420px;
    overflow: hidden;

    position: relative;
    transition: all 2s ease;
}

.slider:hover{
    box-shadow: 0 0 35px white;
}

.card img{
    width: 285px;
    height: 159px;
}

.slider .card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    justify-items: center;
    opacity: 0;
    transition: opacity 1s linear, transform 0.3s linear;
}


.slider #nextPosition {
    transform: translateX(100%);
    /* opacity: 0; */
}

.slider #position {
    transform: translateX(0);
    opacity: 1;
}

.slider #lastPosition {
    transform: translateX(-100%);
    /* opacity: 0; */
}

.slider .buttons {
    width: 100%;
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
 
}

.slider .buttons button {
    border-radius: 5px;
    font-size: 25px;
    width: 80px;
    height: 30px;
    background-color: red;
    border: none;
    margin: 5px;
    cursor: pointer;
    transition: all 1s ease;
}

.slider .buttons button:hover {
box-shadow: 0 0 25px rgb(255, 0, 0);
background-color: white;
color: red;

}