.slider {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 20px #e50914;
    border-radius: 2px;
    width: 400px;
    height: 450px;
    overflow: hidden;
    padding: 10px;

    position: relative;
    transition: all 2s ease;
}

.slider:hover{
    box-shadow: 0 0 35px white;
}

.card img{
    width: 285px;
    height: 159px;
}

.slider .card {
    position: absolute;
    text-align: center;
    top: 15px;
    left: 25px;
    right: 25px;
    justify-items: center;
    opacity: 0;
    transition: opacity 0.5s linear, transform 0.2s linear;
}


.slider #nextPosition {
    transform: translateX(100%);
    /* opacity: 0; */
}

.slider #position {
    transform: translateX(0);
    opacity: 1;
}

.slider #lastPosition {
    transform: translateX(-100%);
    /* opacity: 0; */
}

.slider .buttons {
    width: 100%;
    /* position: absolute;
    bottom: 0; */
    align-items: end;

    display: flex;
    justify-content: center;
 
}

.slider .buttons button {
    border-radius: 50%;
    font-size: 25px;
    width: 40px;
    height: 40px;
    background-color: #96040b;
    color: aliceblue;
    border: none;
    margin: 5px;
    cursor: pointer;
    transition: all 1s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.slider .buttons button:hover {
box-shadow: 0 0 25px #e50914;
background-color: white;
color: #e50914;
/* padding-left: 15px; */
}